.header {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px
}

.float {
  position: fixed;
  display: block;
  right: auto;
  left: 48%;
  bottom: 80px ;
  top: auto;
  font-size: xx-large;
}
