<div class="container ">
  <div class="d-flex flex-row-reverse pt-5">
    <a href="#" routerLink="/" class="btn btn-primary btn-circle btn-sm"></a>
</div>
<div class="container">
    <mat-form-field class="example-full-width">
      <mat-label>Event Title</mat-label>
      <input matInput placeholder="Ex. CV Workshop" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Location</mat-label>
      <input matInput placeholder="Ex. Hive Lobby" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Organiser</mat-label>
      <input type="text"
      matInput
      [formControl] = "myControl"
      [matAutocomplete] = "auto">
      <mat-autocomplete #auto = "matAutocomplete">
        <mat-option *ngFor = "let i of filteredOptions | async" [value] = "i">
          {{ i }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Tell peolpe more about the event</mat-label>
      <textarea matInput placeholder="Ex. This event is about ..."></textarea>
    </mat-form-field>
  <button class="btn-block btn-danger">Create</button>
</div>
