
.header {
  text-align: left;
  padding-top: 50px;
  padding-bottom: 10px
}

a:hover {
  text-decoration: none;
}

.float {
  position: fixed;
  display: block;
  right: auto;
  left: 48%;
  bottom: 80px ;
  top: auto;
  font-size: xx-large;
}

.orange-outline{
  border: 1px solid #E39032;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.container{
  position: relative;
}
.pitching-float-left, .pitching-float-right{
  display: none;
}

@media(min-width: 1024px){
  .pitching-float-left{
    position: absolute;
    display: block;
    right: auto;
    left: 1%;
    bottom: auto;
    top: 40%;
    font-size: larger;
    background-color: white;
    color: black;
  }
  .pitching-float-right{
    position: absolute;
    display: block;
    right: auto;
    right: 1%;
    bottom: auto;
    top: 40%;
    font-size: larger;
    background-color: white;
    color: black;
  }

}

