<h3 class="header">Pitching stage</h3>
<div class="container">
  <div #scrollContent class="scrolling-wrapper-flexbox">
    <app-pitching-item *ngFor= "let pitchingElement of http_event"
    [pitching_event] = "pitchingElement">
  </app-pitching-item>
  </div>
<button mat-mini-fab class="pitching-float-left" (click) = "scrollLeft( )"><</button>
<button mat-mini-fab class="pitching-float-right" (click) = "scrollRight()">></button>
</div>
<h3 class="header">From hivers you follow</h3>
<div class="d-float">
  <a mat-flat-button routerLink="/followers" class="orange-outline mb-4">Manage Followers</a>
</div>
<!-- <ul>
  <li *ngFor="let event of fire_event">
    {{ event.name }}
  </li>
</ul> -->
<app-event-item *ngFor = "let eventElement of http_event"
  [events] = "eventElement">
</app-event-item>
<a mat-fab class="float" routerLink="/new-event">+</a>
