<div class="container bg-shadow">
  <div class="d-flex justify-content-between">
    <p class="date">{{ events.begin_at }}</p>
    <!-- <p class="date">{{ events.name }}</p> -->
  </div>
  <h5 class="event-title">{{ events.name }}</h5>
  <p>{{ events.description.slice(0, 120) }} ...</p>
  <div class="d-flex flex-row-reverse">
    <a href="#" routerLink="/event/{{ events.id }}" class="btn btn-secondary">Read More</a>
    <div>
      <ng-template [ngIf] = "token === false" [ngIfElse] = "registered">
        <button class="btn btn-primary" (click) = signUp()>Sign Up</button>
      </ng-template>
      <ng-template #registered>
        <button class="btn btn-disabled" disabled>Signed Up</button>
      </ng-template>
    </div>
  </div>
</div>

