.date {
  padding-top: 10px;
}
.tag {
  padding-top: 10px;
  padding-right: 15px;
}
.btn {
  margin-right: 10px;
  margin-bottom: 10px;
}

.shadow {
  box-shadow: 0px 2px 6px black;
  margin-bottom: 20px;
}

.btn-secondary{
  background-color: #CAC6C9;
  border: none;
}

.btn-primary{
  background-color: #E39032;
  border: none;
}

.btn-disabled{
  background-color: #87D57C;
  color: white;
  opacity: 100%;
  pointer-events: none;
}

.event-title{
  padding-top: 10px;
  padding-bottom: 5px;
}
