.shadow {
  box-shadow: 0px 2px 6px black;
  margin-bottom: 20px;
}

.btn-circle.btn-sm {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 35px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
  background-image: url('/../../../../../assets/Close\ Circle.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
}

.waw {
  margin-top: 40px;
  font-weight: 500;
}

.when-detail {
  font-weight: 600;
  color: #E39032;
}

.description-detail{
  font-weight: 200;
}

.btn-danger{
  background-color: #E39032;
  border: none;
  border-radius: 3px;
  min-height: 50px;
  font-size: larger;
  font-weight: 300;
}
