<div class="container ">
  <div class="d-flex flex-row-reverse pt-5">
    <a href="#" routerLink="/" class="btn btn-primary btn-circle btn-sm"></a>
</div>

<div class="container">
	<mat-form-field [ngStyle] = "{'color': eventTitle === 'Please Choose a Title' ? 'red' : 'black'}" class="example-full-width" hintLabel="{{ 50 - eventTitle?.length }} Characters left">
      <mat-label>Event Title</mat-label>
	  <input matInput [maxLength]="50" placeholder="Ex. CV Workshop" value="" [(ngModel)]="eventTitle" required>
	</mat-form-field>

    <mat-form-field [ngStyle] = "{'color': eventLocation === 'Please Choose a Location' ? 'red' : 'black'}" class="example-full-width" hintLabel="{{ 50 - eventLocation?.length }} Characters left">
      <mat-label>Location</mat-label>
      <input matInput [maxLength]="50" placeholder="Ex. Hive Lobby" value="" [(ngModel)]="eventLocation" required>
    </mat-form-field>

    <div class="d-flex flex-wrap justify-content-start">
      <mat-form-field  class="example-medium-width pr-3">
        <input placeholder = "Select Start Date" matInput [min]="minDate" [matDatepicker]="picker1" [(ngModel)]="startDate" required>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
	  </mat-form-field>

      <mat-form-field class="example-short-width mr-3"> 
        <mat-label >Starts At</mat-label>
        <mat-select [(value)]="startTime" required>
          <mat-option *ngFor="let time of times" [value]="time" >
            {{ time.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class = "line">-</div>

	  <mat-form-field class="example-medium-width pr-3">
        <input placeholder = "Select End Date" matInput [min]="minDate" [matDatepicker]="picker2" [(ngModel)]="endDate" required>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
	  </mat-form-field>
	  
	  <mat-form-field class="example-short-width mr-3">
        <mat-label>Ends At</mat-label>
        <mat-select [(value)]="endTime" required>
          <mat-option *ngFor="let time of times" [value]="time" >
            {{time.viewValue}}
          </mat-option>
        </mat-select>
	  </mat-form-field>
	</div>

	<div class="example-large-width" *ngIf="errorDate === true">
			<p style="color: #f44336;">Please select a Start Date, Start Time, End Date and End Time.</p>
	</div>

	<div class="example-large-width" *ngIf="errorStartTime === true">
		<p style="color: #f44336;">Error: The Start and End Time can't be the same, and Start Time can't be after the End Time on the same day.</p>
	</div>

	<div class="example-large-width" *ngIf="errorStartDate === true">
		<p style="color: #f44336;">Error: The Start Date can't be after the End Date.</p>
  </div>
  
  <div class="example-large-width" *ngIf="errorStartTimeTwo === true">
    <p style="color: #f44336;">Start Time can't be in the past</p>
  </div>
	  
	<mat-form-field class="example-medium-width">
		<mat-label>Event Group</mat-label>
		<mat-select [(value)]="selectedGroup" required> 
			<mat-option *ngFor="let group of groups" [value]="group.value">
				{{ group.viewValue }}
			</mat-option>
		</mat-select>
	</mat-form-field>

	<div class="example-large-width" *ngIf="errorGroup === true">
		<p style="color: #f44336;">Please select a group.</p>
	</div>

    <mat-form-field [ngStyle] = "{'color': description === 'Please choose a description' ? 'red' : 'black'}" class="example-full-width" hintLabel="{{ 2000 - description?.length }} Characters left">
      <mat-label>Tell people more about the event</mat-label>
      <textarea matInput [maxLength]="2000" placeholder="Ex. This event is about ..." [(ngModel)]="description" required></textarea>
    </mat-form-field>
  <button style="margin-top: 20px;" class="btn-block btn-danger" (click)="onAddSubmit()">Create</button>
</div>
