.btn-circle.btn-sm {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 35px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
  background-image: url('/../../../../../assets/Close\ Circle.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
}

.example-full-width {
  width: 100%;
}
